<div class="reading_content">

  <div class='breadcrumb'>
    {{#if breadcrumb.courseName}}
      <a
        class='hover:underline'
        href='/course/{{path.courseSlug}}/about?ref={{path.refBranch}}'
      >{{breadcrumb.courseName}}</a>
    {{/if}}
    {{#if breadcrumb.contentName }}
      >
      <a
        class='hover:underline'
        href='/course/{{path.courseSlug}}/{{path.contentSlug}}?ref={{path.refBranch}}'
      >{{breadcrumb.contentName}}</a>
    {{/if}}
    {{#if breadcrumb.componentName}}
      >
      <a
        class='hover:underline'
        href='/course/{{path.courseSlug}}/{{path.contentSlug}}/{{path.componentSlug}}?ref={{path.refBranch}}'
      >{{breadcrumb.componentName}}</a>
    {{/if}}
  </div>

  <!-- Viitab app.js failis "content" optionile, mis antakse iga res.render() funktsiooniga kaasa. 
  "Content" option sisaldab github APIga päritud about.md faili, mis on dekodeeritud ja mille markdown on lahti renderdatud -->
  <div id="markdown-content">
    {{{component}}}
  </div>

  <!-- NB! Sources are sent only with "Teemade endpointid" axios call. If sourcesJSON stays NULL (is false), then content.handlebars does not display "Allikad"" div. If sourcesJSON gets filled (is true), then "Allikad" div is displayed. -->
  {{#if sources}}
    <div class='sources pt-4'>
      <h4>Allikad:</h4>
      <ul class="markdown">
        {{#each sources}}
          <li><a
              href='{{this.url}}'
              class="markdown"
              target='_blank'
            >{{this.description}}</a></li>
        {{/each}}
      </ul>
    </div>
  {{/if}}

  <!-- NB! Ainekava linki config.json failist kuvatakse ainult "about"/Ainekursusest lehel -->

  {{#if_equal path.contentSlug 'about'}}
  <br>
  <b>Ainekava: </b><a href='{{../course.courseUrl}}' target='_blank'>{{../course.courseName}} ({{../course.courseCode}})</a>
  {{/if_equal}}

  <!-- NB! Faile kuvatakse ainult Lisamaterjalid lehekülgedel.
  Kuna github lisab igasse kausta ".DS_Store" faili ja seda faili me ei taha kuvada, siis on see välja hardcode'tud. 
  
  Github raw download_url juhend: https://stackoverflow.com/questions/73819136/how-do-i-get-and-download-the-contents-of-a-file-in-github-using-the-rest-api/73824136
  Download_url token muutub iga 7 päeva tagant Githubi poolt: https://github.com/orgs/community/discussions/23845#discussioncomment-3241866-->
  {{#if files}}
    <div class='files pt-4'>
      <h3>Failid:</h3>
      <ul class="markdown"
>
        {{#each files}}
          <li><a
              href="#"
              class="markdown"
              onclick="window.open(
                '{{this.download_url}}','_blank');"
            >{{this.name}}</a></li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
  
  <br> <br>
  <!-- 
  {{singleCoursePaths }}
  {{path.fullPath }} 
  -->

  {{#ifIn path.fullPath singleCoursePaths }}
  <div class='flex gap-4 justify-center'>
    {{#if_not_equal ../path.fullPath ../singleCoursePaths.[0].path }}
      <input type="button" class="btn btn-secondary"
      onclick="location.href='/course/{{../path.courseSlug}}/{{../returnPreviousPage ../path.fullPath ../singleCoursePaths}}?ref={{../path.refBranch}}';" 
      value="Eelmine" />
    {{/if_not_equal }}

    {{#if_not_equal ../path.fullPath (last ../singleCoursePaths) }}
      <input type="button" class="btn btn-primary"
      onclick="location.href='/course/{{../path.courseSlug}}/{{../returnNextPage ../path.fullPath ../singleCoursePaths}}?ref={{../path.refBranch}}';" value="Järgmine" />
    {{/if_not_equal }}
  </div>
  {{/ifIn }}

</div>

<!--
  (ifIn ../path.fullPath ../
  -->