<div style='max-width:70ch;'>

  <div class='breadcrumb' style='display:inline flex; gap: 20px'>
    {{#if breadcrumb.courseName}}
      <a
        class='hover:underline'
        href='/{{path.courseSlug}}'
      >{{breadcrumb.courseName}}</a>
    {{/if}}
    {{#if breadcrumb.contentName}}
      >
      <a
        class='hover:underline'
        href='/{{path.courseSlug}}/{{path.contentSlug}}'
      >{{breadcrumb.contentName}}</a>
    {{/if}}
  </div>

  <!-- Viitab app.js failis "content" optionile, mis antakse iga res.render() funktsiooniga kaasa. 
  "Content" option sisaldab github APIga päritud about.md faili, mis on dekodeeritud ja mille markdown on lahti renderdatud -->
  {{{content}}}

  <!-- NB! Sources are sent only with "Teemade endpointid" axios call. If sourcesJSON stays NULL (is false), then content.handlebars does not display "Allikad"" div. If sourcesJSON gets filled (is true), then "Allikad" div is displayed. -->
  {{#if sources}}
    <div class='sources'>
      <h6>Allikad:</h6>
      <ul>
        {{#each sources}}
          <li><a
              href='{{this.url}}'
              target='_blank'
            >{{this.description}}</a></li>
        {{/each}}
      </ul>
    </div>
  {{/if}}

  <br />
  <div class='flex gap-4'>
    <button type='button' class='btn btn-secondary'>Eelmine</button>
    <button type='button' class='btn btn-primary'>Märgi läbituks (liigu edasi)</button>
  </div>

</div>