<div style='max-width:70ch;'>

  <div class='breadcrumb' style='display:inline flex; gap: 20px'>
    {{#if breadcrumb.courseName}}
      <a
        class='hover:underline'
        href='/{{path.courseSlug}}'
      >{{breadcrumb.courseName}}</a>
    {{/if}}
    {{#if breadcrumb.contentName}}
      >
      <a
        class='hover:underline'
        href='/{{path.courseSlug}}/{{path.contentSlug}}'
      >{{breadcrumb.contentName}}</a>
    {{/if}}
    {{#if breadcrumb.conceptName}}
      >
      <a
        class='hover:underline'
        href='/{{path.courseSlug}}/{{path.contentSlug}}/{{path.conceptSlug}}'
      >{{breadcrumb.conceptName}}</a>
    {{/if}}
  </div>

  <!-- Viitab app.js failis "content" optionile, mis antakse iga res.render() funktsiooniga kaasa. 
  "Content" option sisaldab github APIga päritud about.md faili, mis on dekodeeritud ja mille markdown on lahti renderdatud -->
  {{{content}}}

  <!-- NB! Sources are sent only with "Teemade endpointid" axios call. If sourcesJSON stays NULL (is false), then content.handlebars does not display "Allikad"" div. If sourcesJSON gets filled (is true), then "Allikad" div is displayed. -->
  {{#if sources}}
    <div class='sources'>
      <h6>Allikad:</h6>
      <ul>
        {{#each sources}}
          <li><a
              href='{{this.url}}'
              target='_blank'
            >{{this.description}}</a></li>
        {{/each}}
      </ul>
    </div>
  {{/if}}

  {{#if_equal path.contentSlug 'about'}}
  <br>
  <b>Ainekava: </b><a href='{{../config.courseUrl}}' target='_blank'>{{../config.courseName}} ({{../config.courseCode}})</a>
  {{/if_equal}}
  
  <br> <br>
  <!-- 
  {{singleCoursePaths }}
  {{path.fullPath }} 
  -->

  {{#if singleCoursePaths }}
  <div class='flex gap-4'>
    {{#if_not_equal path.fullPath singleCoursePaths.[0].path }}
      <input type="button" class="btn btn-secondary" 
      onclick="location.href='/{{../path.courseSlug}}/{{../returnPreviousPage ../path.fullPath ../singleCoursePaths}}';" 
      value="Eelmine leht" />
    {{/if_not_equal }}

    {{#if_not_equal path.fullPath (last singleCoursePaths) }}
      <input type="button" class="btn btn-primary" onclick="location.href='/{{../path.courseSlug}}/{{../returnNextPage ../path.fullPath ../singleCoursePaths}}';" value="Järgmine leht" />
    {{/if_not_equal }}
  </div>
  {{/if }}

</div>

<!--
  (ifIn ../path.fullPath ../
  -->