{{#if courses }}
  <h2>Õppejõud</h2>
  <p>Siin näed infot enda kursuste õppejõudude kohta.</p>
  <div class="grid gap-2 pt-4 pl-4 pb-4">
    {{#each teacherCourses }}
      <div class="py-2">
        {{#with (findTeacher @key ../teachers)}}
          <div class="flex flex-row gap-4 items-center">
            <div>
              <img src="{{ this.avatar_url }}" alt="Avatar" width="70px" height="70px" style="border-radius: 50%" class="">
            </div>
            <div class="inline-block">
              <h4 class="mt-0 mb-1">{{this.displayName}}</h4>
              <p class="m-0 mb-1">{{#if this.email}}{{this.email}}{{else}}email@tlu.ee{{/if}}</p>
            </div>
          </div>
        {{/with }}
        <ul class="list-none mt-2">
        {{#each this }}
          <li ><a href="/course/{{this.courseSlug}}/about?ref={{this.refBranch}}">{{this.courseName}}</a></li>
        {{/each }}
        </ul>
      </div>
    {{/each }}
  </div>
{{/if }}