{{#if courses }}
  <h2>Teated</h2>
  <div class="">
    <div class="grid gap-2 pt-4 pl-4 pb-4">
      {{#unless courseUpdates }}
        <div class='text-md'>Hiljutised teated puuduvad.</div>
      {{/unless }}
      {{#each (limit courseUpdates 3) }} 
        <div>
          <div class="flex items-start gap-2 pb-2"><p class="p-0 m-0 text-sm text-gray-400">{{timeSince this.created_at }}</p></div>
          <div class="flex items-start gap-2 pb-2"><p class="p-0 m-0"><b>{{this.user.login}}</b> uuendas <a href="/course/{{this.course.courseSlug}}/about"><b>{{this.course.courseName}}</b></a> {{this.course.refBranch}} haru: <br></p></div>
          <div class="flex items-start gap-2 pt-4 pb-4 pl-3 pr-2 bg-neutral-100"><span class="material-symbols-outlined">notifications</span> <p class="pt-0 m-0">{{this.body}}</p></div>
        </div>
        {{#unless @last}}
          <hr class="mt-4 mb-4">
        {{/unless}}
      {{/each }}
      <div class="pt-4">
        <a class="px-4 py-2 bg-neutral-100 hover:bg-neutral-200 hover:!no-underline !no-underline" href="/notifications">Kõik teated</a>
      </div>
    </div>
  </div>
{{/if }}