<!-- dashboard-teacher.teacherCourses.handlebars -->
<div>
    <h2>Teised õppejõud</h2>
    <p>Siin näed infot teiste õppejõudude ja nende kursuste kohta.</p>
    <div class="flex flex-col gap-2 pt-4 pb-4">
        {{#each teacherCourses }}
            <div class="py-2">
                {{#with (findTeacher @key ../teachers)}}
                    <div class="flex flex-row gap-4 items-center">
                        <div>
                            <img src="{{ this.avatar_url }}" alt="Avatar" class="w-16 rounded-full">
                        </div>
                        <div class="inline-block">
                            <h4 class="mt-0 mb-1">{{this.displayName}}</h4>
                            {{#if this.email}}
                            <a class="m-0 mb-1" href="mailto:{{this.email}}">{{this.email}}<a>
                            {{else}}
                                <p class="m-0 mb-1">Email lisamata</p>
                            {{/if}}
                        </div>
                    </div>
                {{/with }}
                <ul class="list-none mt-2">
                    {{#each this }}
                        <li><a class="text-lg font-bold" href="/course/{{this.courseSlug}}/about?ref={{this.refBranch}}
                            ">{{this.courseName}}</a>
                        </li>
                    {{/each }}
                </ul>
            </div>
        {{/each }}
    </div>
</div>