<div class="block">
    <label>Failid:</label>
    <ul>
        {{#each files}}
            <input type="hidden" name="{{prefix}}/files/{{this.name}}" value="{{this.name}}">
            <input type="hidden" name="{{prefix}}_files[][slug]" value="{{this.slug}}">
            <li>{{this.name}} {{this.slug}}
            </li>
        {{/each}}
        <li class="card flex justify-content-between items-center mb-2">
            <!--
            <label for="{{prefix}}_newFile" class="hidden"></label>
            <input type="file" id="{{prefix}}_newFile" name="{{prefix}}_newFile"
                   class="input-single" placeholder="Lisa uus fail">
            <button class="btn btn-primary ml-4">
                <i class="material-symbols-outlined text-xxxl text-brand_red  transition ease-in-out duration-1000"
                   aria-hidden="true">attach_file</i>
            </button>
!-->
            <div class="max-w-xs">
                <label for="example1" class="mb-1 block text-sm font-medium text-gray-700">Lisa fail</label>
                <input id="example1" type="file" name="{{prefix}}/files/"
                       class="mt-2 block w-full text-sm file:mr-4 file:rounded-md file:border-0 file:bg-teal-500 file:py-2 file:px-4 file:text-sm file:font-semibold file:text-white hover:file:bg-teal-700 focus:outline-none disabled:pointer-events-none disabled:opacity-60"/>
            </div>

        </li>
    </ul>
</div>