<nav>
  <div class=''>
    <a href='/' class=''>
      <img
        src='/images/haapsalu-kolledzi-logo-valgel.svg'
        alt='Tallinna Ülikooli logo'
        style='max-height: 100px;'
      />
    </a>
    <span onclick='closeMenu()'>menu</span>
  </div>
  {{#if user}}
    <div class="">
      <a href="/" class="">Töölaud</a>
      <a href="/notifications" class="">Teated</a>
      {{#if_equal user.team.slug 'teachers'}}
        <a href="/progress-overview" class="">Ülevaade</a>
      {{/if_equal }}
    </div>
  {{/if}}
  <div class=''>
    <span
      onclick='closeMenu()'
      class=''
    >
      close
    </span>
    <div class="">
      {{#if user}}
        <div>
          <img src="{{ user._json.avatar_url }}" alt="Avatar" width="70px" height="70px" style="border-radius: 50%"> 
        </div>
      {{/if}}

      <div class="group">
        {{#if user}}
          <div>
            {{ user.username }}
          </div>
          <ul class="hidden absolute group-hover:block z-50 bg-page-background">
            <li>
              GitHubi konto: <a href="{{ user.profileUrl }}" target="_blank" >{{ user.username }}</a>
            </li>
            <li>
              GitHubi ID: {{ user.id }}
            </li>
            <li>
              Tiim: {{ user.team.name }}
            </li>
            {{#if user.displayName}}
              <li>Profiilinimi: {{ user.displayName }} <a href="/save-displayName" ><i class="fa-solid fa-pen-to-square"></i></a></li>
            {{else }}
              <li>Profiilinimi: {{ user.username }} <a href="/save-displayName" ><i class="fa-solid fa-pen-to-square"></i></a></li>
            {{/if }}
            
            {{#if_equal user.team.slug 'teachers'}}
              {{#if user.email}}
                <li>Email: {{ user.email }} <a href="/save-email" ><i class="fa-solid fa-pen-to-square"></i></a></li>
              {{else }}
                <li><a href="/save-email" >Lisa email</a></li>
              {{/if }}
            {{/if_equal}}
          </ul>
        {{/if}}
        
        {{#if user}}
          <a href="/logout" >Logi välja</a>
        {{/if}}
      </div>

    




      <div class="mode">
          <input onclick="toggleTheme()" type="checkbox" id="switch" />
          <label for="switch"></label>
        </div>
    </div>
      <!-- google otsing -->
    <script async src='https://cse.google.com/cse.js?cx=42b628b4183f0478e'></script>
    <div class='gcse-search'></div>
    <!-- otsing -->
  </div>
</nav>