<nav
  class='nav bg-neutral flex flex-col lg:flex-row justify-between text-white p-8 relative z-10'
>
  <div class='flex justify-between items-center'>
    <a href='/' class='w-40 sm:w-64 h-auto'>
      <img
        class="logo-on-light"
        src='/images/logo-on-light.svg'
        alt='Tallinna Ülikooli logo'
        style='max-height: 100px;'
      />
      <img
        class="logo-on-dark"
        src='/images/logo-on-dark.svg'
        alt='Tallinna Ülikooli logo'
        style='max-height: 100px;'
      />
    </a>
    <span
      onclick='closeMenu()'
      class='material-symbols-outlined text-4xl cursor-pointer absolute right-8 lg:hidden'
    >
      menu
    </span>
  </div>
  
  <div
    class=' gap-4 closing-menu flex flex-col lg:flex-row items-end lg:items-center fixed lg:relative w-full lg:w-auto left-0 lg:pr-0 pb-8 lg:pb-0 top-[-700px] lg:!top-0'
  >
    <span
      onclick='closeMenu()'
      class='mt-8 material-symbols-outlined text-4xl cursor-pointer right-8 relative lg:hidden'
    >
      close
    </span>
  {{#if user}}
    <!-- menu -->
    <div class="mr-8 z-[52] flex flex-col lg:flex-row lg:justify-evenly items-end lg:items-center gap-4 lg:mr-4 mb-4 lg:mb-0">
      <a href="/" class="!text-white !no-underline hover:!underline">Avaleht</a>
      {{!-- <a href="/" class="!text-white !no-underline hover:!underline">Kursused</a> --}}
      <a href="/notifications" class="!text-white !no-underline hover:!underline">Teated</a>
      {{#if_equal user.team.slug 'teachers'}}
        <a href="/progress-overview" class="!text-white !no-underline hover:!underline">Ülevaade</a>
      {{/if_equal }}
    </div>
  {{/if}}
  {{#if user}}
    <!-- user preferences -->
    <div class="mr-8 lg:mr-0 flex flex-col lg:flex-row items-end group lg:items-center">
      <div class="flex items-center gap-2">
        <img class="z-[51] relative w-16 rounded-full" src="{{ user._json.avatar_url }}" alt="Avatar"> 
        <div class="z-[51]">
          {{#if user.displayName}}
            {{ user.displayName }}
          {{else }}
            {{ user.username }}
          {{/if }}
        </div>
        <div class="hidden lg:block material-symbols-outlined z-50">
          expand_more
        </div>
      </div>

      <div class="flex flex-row relative text-right">

        <ul class="lg:hidden lg:absolute lg:group-hover:block lg:h-screen lg:top-[-4rem] lg:pt-[6rem] lg:right-[-0.5rem] lg:px-[2.5rem] bg-page-background z-49 list-none lg:p-4 lg:pt-4 lg:right-4 lg:text-end w-max">
          
          <li class="py-2"><a href="/save-displayName" class=" text-text"><span class="material-symbols-rounded">Muuda nime</span></a></li>

          {{#if_equal user.team.slug 'teachers'}}
            {{#if ../user.email}}
              <li class="py-2">Email: {{ ../../user.email }} <a href="/save-email" class="!text-white"><span class="material-symbols-rounded">Muuda</span></a></li>
            {{else }}
              <li class="py-2"><a href="/save-email" class="text-text">Lisa email</a></li>
            {{/if }}
          {{/if_equal}}

          {{!-- <li  class="py-2">GitHubi ID: {{ user.id }}</li> --}}
          <li  class="py-2">GitHubi konto: <a href="{{ user.profileUrl }}" target="_blank" class="!text-white">{{ user.username }}</a></li>
          <li>GitHubi tiim: {{ user.team.name }}</li>
        
          <li  class="py-2"><a href="/logout" class="text-text">Logi välja</a></li>

        </ul>  
  
      </div>
    </div>
  {{/if}}

  <div class="mr-8 lg:mr-0 mode">
    <input onclick="toggleTheme()" type="checkbox" id="switch" checked="checked">
    <label for="switch">
      <!-- <img src="../images/moon.svg" alt=""> -->
    </label>
  </div>

      <!-- google search -->
      <!-- 
    <script async src='https://cse.google.com/cse.js?cx=42b628b4183f0478e'></script>
    <div class='gcse-search'></div>
    {{! <div class='relative pt-4 pl-8'>
          <input
            class='border-2 border-gray-300 bg-white text-secondary-800 text-xs h-10 pr-8 pl-2 w-56'
            type='search'
            name='search'
          />
          <button type='submit' class='absolute right-0 mt-3 mr-4'>
            <svg
              class='text-gray-600 h-4 w-4 fill-current'
              xmlns='http://www.w3.org/2000/svg'
              xmlns:xlink='http://www.w3.org/1999/xlink'
              version='1.1'
              id='Capa_1'
              x='0px'
              y='0px'
              viewBox='0 0 56.966 56.966'
              style='enable-background:new 0 0 56.966 56.966;'
              xml:space='preserve'
              width='512px'
              height='512px'
            >
              <path
                d='M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z'
              >
              </path>
            </svg>
          </button>
        </div> }} -->
  </div>
</nav>