<nav
  class='nav bg-neutral flex flex-col lg:flex-row justify-between text-white p-8 relative z-10'
>
  <div class='flex justify-between items-center'>
    <a href='/' class='w-40 sm:w-64 h-auto'>
      <img
        class="logo-on-light"
        src='/images/logo-on-light.svg'
        alt='Tallinna Ülikooli logo'
        style='max-height: 100px;'
      />
      <img
        class="logo-on-dark"
        src='/images/logo-on-dark.svg'
        alt='Tallinna Ülikooli logo'
        style='max-height: 100px;'
      />
    </a>
    <span
      onclick='closeMenu()'
      class='material-symbols-outlined text-4xl cursor-pointer absolute right-8 lg:hidden'
    >
      menu
    </span>
  </div>
  
  <div
    class=' gap-4 closing-menu flex flex-col lg:flex-row items-end lg:items-center fixed lg:relative w-full lg:w-auto left-0 lg:pr-0 pb-8 lg:pb-0 top-[-700px] lg:!top-0'
  >
    <span
      onclick='closeMenu()'
      class='mt-8 material-symbols-outlined text-4xl cursor-pointer right-8 relative lg:hidden'
    >
      close
    </span>
  {{#if user}}
    <!-- menu -->
    <div class="mr-8 z-[52] flex flex-col lg:flex-row lg:justify-evenly items-end lg:items-center gap-4 lg:mr-4 mb-4 lg:mb-0">
      <a href="/" class="!text-white !no-underline hover:!underline">Avaleht</a>
      {{!-- <a href="/" class="!text-white !no-underline hover:!underline">Kursused</a> --}}
      <a href="/notifications" class="!text-white !no-underline hover:!underline">Teated</a>
      {{#if_equal user.team.slug 'teachers'}}
        <a href="/progress-overview" class="!text-white !no-underline hover:!underline">Ülevaade</a>
      {{/if_equal }}
    </div>
  {{/if}}
  {{#if user}}
    <!-- user preferences -->
    <div class="mr-8 lg:mr-0 flex flex-col lg:flex-row items-end group lg:items-center">
      <div class="flex items-center gap-2">
        <img class="z-[51] relative w-16 rounded-full" src="{{ user._json.avatar_url }}" alt="Avatar"> 
        <div class="z-[51]">
          {{#if user.displayName}}
            {{ user.displayName }}
          {{else }}
            {{ user.username }}
          {{/if }}
        </div>
        <div class="hidden lg:block material-symbols-outlined z-50">
          expand_more
        </div>
      </div>

      <div class="flex flex-row relative text-right">

        <ul class="lg:hidden lg:absolute lg:group-hover:block lg:h-screen lg:top-[-4rem] lg:pt-[6rem] lg:right-[-0.5rem] lg:px-[2.5rem] bg-page-background z-49 list-none lg:p-4 lg:pt-4 lg:right-4 lg:text-end w-max">
          
          <li class="py-2"><a href="/save-displayName" class=" text-text"><span class="material-symbols-rounded">Muuda nime</span></a></li>

          {{#if_equal user.team.slug 'teachers'}}
            {{#if ../user.email}}
              <li class="py-2">Email: {{ ../../user.email }} <a href="/save-email" class="!text-white"><span class="material-symbols-rounded">Muuda</span></a></li>
            {{else }}
              <li class="py-2"><a href="/save-email" class="text-text">Lisa email</a></li>
            {{/if }}
          {{/if_equal}}

          {{!-- <li  class="py-2">GitHubi ID: {{ user.id }}</li> --}}
          <li  class="py-2">GitHubi konto: <a href="{{ user.profileUrl }}" target="_blank" class="!text-white">{{ user.username }}</a></li>
          <li>GitHubi tiim: {{ user.team.name }}</li>
        
          <li  class="py-2"><a href="/logout" class="text-text">Logi välja</a></li>

        </ul>  
  
      </div>
    </div>
  {{/if}}
  </div>
</nav>