<nav class='sidebar h-fit relative lg:sticky top-0' id='sidebar'>
  <button
    onclick='closeSideMenu()'
    class='flex items-center p-2 h-fit bg-neutral-100 rounded-r-lg absolute right-[-3rem]'
  >
    <i
      class='material-symbols-outlined cursor-pointer text-xxxl text-brand_red transition ease-in-out duration-1000'
      aria-hidden='true'
    >chevron_left</i>
  </button>
  <!-- sidebar sticky behavior beginning from lg size -->
  <div class='p-2 lg:max-h-screen drop-shadow-2xl w-full'>
    <div class=''>
      {{#each courses}}
        <div class='mb-2 bg-neutral-100 hover:bg-neutral-200 flex'>

          <a
            class='p-4 !no-underline uppercase w-full'
            href='/{{this.courseSlug}}/about'
          ><div class='text-md font-bold mb-2'>{{this.courseName}}</div>

            <div>
              <progress id='{{this.courseCode}}' value='32' max='100'>
                32%
              </progress>
            </div>
            <div>{{this.courseCode}}</div></a>
        </div>
      {{/each}}

      <!-- ??? Kas siia lehele lisada veel alamenüü lehti?
    Nt otseviide kursuse ainekaardi lingile või kuvada loengute pealkirjad siin ära, et oleks mugav Kõigi Kursuste lehelt juba kindla kursuse materjalini jõuda.  -->
      <div class='tabs'>
        <!--
            {{#each loengud}}
            <div class="tab">
              <input type="checkbox" id="chck{{@index}}">
              <label class="tab-label" for="chck{{@index}}">
                <div class="flex gap-2">
                  <span class="material-symbols-outlined">check_circle</span>
                  <a class="hover:!underline !no-underline" href="/{{../path.courseSlug}}/{{this.slug}}">{{this.name}}</a>
                </div>
              </label>
              {{#each this.concepts}}
                {{#each ../../concepts}}
                  {{#if_equal this.slug ../this }}
              <div class="tab-content flex gap-2" >
                <span class="material-symbols-outlined">radio_button_unchecked</span>
                <a class="hover:!underline !no-underline" href="/{{../../../../path.courseSlug}}/{{../this.slug}}">{{../this.name}}</a>
              </div>
                  {{/if_equal}}
                {{/each}}
              {{/each}}
            </div>
            {{/each}}
            -->
      </div>
    </div>
  </div>
</nav>