<nav class="sidebar flex justify-between items-start absolute lg:relative left-[-100vw] lg:left-0 w-full lg:w-auto  transition-all" id="sidebar">
     
  
  <div>
  <!-- this can be better :( -->
  <h3>{{#each courses}}
    {{#if_equal this.slug ../courseSlug}}
    {{../this.title}}
    {{/if_equal}}
    {{/each}}</h3>

  <ul>
    <!-- Järgnevalt loetakse "docs", "loengud" ja "concepts" arraysid app.js failist, mis antakse iga res.render() funktsiooniga kaasa.  -->
    <!-- Ainekursusest ja Hindamine lingid -->
    {{#each docs}}
    <li class="flex gap-2">
      <span class="material-symbols-outlined">check_circle</span>
      <a class=" hover:underline" href="/{{../courseSlug}}/{{this.slug}}">{{this.name}}</a>
    </li>
    {{/each}} <br>
    <!-- Loengute ja teemade lingid -->
    {{#each loengud}}
    <li class="flex gap-2">
      <span class="material-symbols-outlined">radio_button_unchecked</span>
      <a class=" hover:underline" href="/{{../courseSlug}}/{{this.slug}}">{{this.name}}</a>
    </li>
    {{#each this.concepts}}
    <!-- https://stackoverflow.com/questions/14059157/handlebars-js-each-loop-inside-another-each-loop-3 -->
    {{#each ../../concepts}}
    {{#if_equal this.slug ../this }}
    <li class="flex gap-2"><span class="material-symbols-outlined">radio_button_unchecked</span>
      <a class=" hover:underline" href="/{{../../../../courseSlug}}/{{../this.slug}}">{{../this.name}}</a>
    </li>
    {{/if_equal}}
    {{/each}}
    {{/each}}

    {{#each this.files}}
    <li class="flex gap-2">
      <span class="material-symbols-outlined">radio_button_unchecked</span>
      <a class=" hover:underline" href="#">{{this.description}}</a>
    </li>
    {{/each}}
    <br>
    {{/each}}
  </ul>

  <h3>Teised kursused</h3>
  <ul>
    <li>
      {{#each courses}}
      {{#if_not_equal this.slug ../courseSlug}}
      <a class=" hover:underline" href="/{{../this.slug}}">{{../this.title}}</a>
      {{/if_not_equal}}
      {{/each}}
    </li>
  </ul>
  </div>
  

    
  <span
      onclick='closeSideMenu()'
      class='mt-3 material-symbols-outlined text-4xl cursor-pointer lg:hidden'>
      close
  </span>


</nav>