<!-- sidebar-right.anchor.handlebars -->
<nav class="card !p-6 lg:!p-6 top-36 md:top-[13.5rem] lg:top-[9.5rem] h-fit relative md:sticky"
     id="sidebar-course-anchor">

    <!-- Branch (version) selection menu. Only visible to 'teachers' team -->

    {{#if_equal user.team.slug 'teachers'}}

        <div class="card-header m-0">Ainekursuse versioonid:</div>
        <div class="pl-2 pb-4 mt-4 space-y-1 text-sm flex flex-col gap-2">
            <!-- Radio buttons -->
            {{#each ../branches }}

                <div class="radio flex items-center">
                    <input {{setDefaultChecked this ../../refBranch ../../selectedVersion ../../branches }}
                            id="default-radio-{{@index}}" type="radio" value="{{this}}" name="default-radio"
                            onclick="handleRadioClick('{{this}}')">
                    <label for="default-radio-{{@index}}" class="radio-label w-full ml-2 text-sm font-medium"
                           onclick="handleRadioClick('{{this}}')"> {{this }}</label><span
                        class="radio-check"></span>
                </div>

            {{/each }}
            <hr class="my-4">
            <label for="year" class="radio-label w-full ml-2 mb-2 text-base font-medium">Semester: </label>
            <select name="year" id="year" class="input-single h-8" required>
                <option value="0" disabled></option>
                {{#each ../years }}
                    <option value="{{this}}" {{#if_contains this
                                                         ../../config.semester}}selected{{/if_contains}}>{{this}}</option>
                {{/each }}
            </select>
            <div class="flex w-100 mb-4">
                <div class="radio flex items-center mr-4 mt-2">
                    <input id="semester1" type="radio" value="S" name="semester" {{#if_contains "S"
                                                                                                ../config.semester}}checked{{/if_contains}}>
                    <label for="semester1" class="radio-label w-full ml-2 text-sm font-medium">Sügis</label>
                    <span class="radio-check"></span>
                </div>
                <div class="radio flex items-center mt-2">
                    <input id="semester2" type="radio" value="K" name="semester" {{#if_contains "K"
                                                                                               ../config.semester}}checked{{/if_contains}}>
                    <label for="semester2" class="radio-label w-full ml-2 text-sm font-medium">Kevad</label>
                    <span class="radio-check"></span>
                </div>
            </div>
            <hr class="my-4">
            <label for="teacher" class="radio-label w-full ml-2 mb-2 text-base font-medium">Õppejõud:</label>
            <select name="teacher" id="teacher" class="input-single h-8" required>
                {{#each ../teachers }}
                    <option value="{{this.id}}"{{#if_equal this.login
                                                           ../../config.teacherUsername}}selected{{/if_equal}}>{{this.login}}</option>
                {{/each }}
            </select>
            <hr class="my-4">
            <button class="btn btn-primary my-4">Salvesta</button>
            <button class="btn btn-danger mb-4">Kustuta</button>
        </div>
    {{/if_equal}}

</nav>
