<!-- sidebar-right.anchor.handlebars -->
<nav class="card !p-6 lg:!p-6 top-36 md:top-[13.5rem] lg:top-[9.5rem] h-fit relative md:sticky"
     id="sidebar-course-anchor">

    <!-- Branch (version) selection menu. Only visible to 'teachers' team -->

    {{#if_equal path.refBranch 'master'}}
        {{#unless (isTeacher user)}}

            <div class="card-header m-0">Versioonid:</div>
            <div class="pl-2 pb-4 mt-4 space-y-1 text-sm flex flex-col gap-2">
                <!-- Radio buttons -->
                {{#each ../../branches }}

                    <div class="radio flex items-center">
                        <input {{setDefaultChecked this ../../refBranch ../../selectedVersion ../../branches }}
                                id="default-radio-{{@index}}" type="radio" value="{{this}}" name="default-radio"
                                onclick="handleRadioClick('{{this}}')">
                        <label for="default-radio-{{@index}}" class="radio-label w-full ml-2 text-sm font-medium"
                               onclick="handleRadioClick('{{this}}')"> {{this }}</label><span
                            class="radio-check"></span>
                    </div>

                {{/each }}
                <hr class="my-4">
                <form action="/add-branch" method="post">
                    <input type="hidden" name="parentBranch" id="currentPath" value="{{../refBranch}}">
                    <input type="hidden" name="courseSlug" id="courseSlug" value="{{../path.courseSlug}}">
                    <label for="team" class="radio-label w-full ml-2 mb-2 text-base font-bold">Lisa versioon: </label>
                    <input type="text" name="team" id="team" class="input-single h-8" required
                           placeholder="versiooni nimi"/>
                    <button type="submit" class="btn btn-primary w-full mt-2">Lisa versioon</button>
                </form>
                <hr class="my-4">
            </div>
        {{/unless}}
    {{/if_equal}}

    <!-- Table of contents -->

    <!-- sidebar sticky behavior beginning from lg size -->
    <div class="">
        <div class="card-header m-0">Lehekülje teemad:</div>
        <div class="pl-2 mt-2 lg:max-h-screen drop-shadow-2xl w-full text-sm">
            {{{ ToC }}}
        </div>
    </div>


</nav>


