<!-- sidebar-right.anchor.handlebars -->
<nav class="card top-48 lg:top-40 h-fit relative sticky top-0" id="sidebar-course-anchor">

<!-- Branch (version) selection menu. Only visible to 'teachers' team -->

{{#if_equal user.team.slug 'teachers'}}
  <div class="card-header m-0 pt-4">Ainekursuse versioonid:</div>
  <div class="pl-2 pb-4 mt-4 space-y-1 text-sm flex flex-col gap-2">
  <!-- Radio buttons -->
    {{#each ../branches }}

        <div class="radio flex items-center">
          <input {{setDefaultChecked this ../../refBranch ../../selectedVersion ../../branches }} id="default-radio-{{@index}}" type="radio" value="{{this}}" name="default-radio" onclick="handleRadioClick('{{this}}')" >
          <label for="default-radio-{{@index}}" class="radio-label w-full ml-2 text-sm font-medium" onclick="handleRadioClick('{{this}}')" > {{this }}</label><span class="radio-check"></span>
        </div>

    {{/each }}
  </div>

  <!-- Hidden forms to send req.body values -->
  <form id="my-form" style="display:none;" method="POST" action="/save-selected-version">
  <input type="hidden" name="selectedVersion" id="selectedVersion" >
  <input type="hidden" name="currentPath" id="currentPath" value="/course/{{../path.courseSlug}}/about/" >
  <input type="hidden" name="courseSlug" id="courseSlug" value="{{../path.courseSlug}}" >
  </form>

{{/if_equal}}

<!-- Table of contents -->

  <!-- sidebar sticky behavior beginning from lg size -->
  <div>
    <div class="card-header m-0 pt-4">Lehekülje teemad:</div>
    <div class="pl-2 mt-2 lg:max-h-screen drop-shadow-2xl w-full text-sm">
      {{{ ToC }}}
    </div>
  </div>
  
</nav>


