<nav
  class='sidebar flex flex-col items-start absolute lg:relative left-[-500vw] lg:left-0 mt-[-2.5rem] lg:mt-auto w-full transition-all'
  id='sidebar'
>

  <button
    onclick='closeSideMenu()'
    class='flex items-center ml-4 lg:hidden pt-4'
  >
    <i
      class='material-symbols-outlined lg:mt-auto cursor-pointer lg:hidden text-4xl'
      aria-hidden='true'
    >chevron_left</i>
  </button>

  <!-- sidebar sticky behavior beginning from lg size -->
  <div
    class='p-2 lg:sticky lg:top-0 lg:overflow-y-auto lg:max-h-screen drop-shadow-2xl w-full'
  >
    <div class=''>
      {{#each courses}}
        <div class='mb-2 bg-neutral-100 p-4'>
          <div>
            <a
              class='hover:!underline text-md font-bold mb-2 !no-underline uppercase'
              href='/{{this.courseSlug}}/about'
            >{{this.courseName}}</a>
          </div>
          <div>
            <progress id='{{this.courseCode}}' value='32' max='100'>
              32%
            </progress>
          </div>
          <div>
            <a
              class='hover:!underline !no-underline'
              href='/{{this.courseSlug}}/about'
            >{{this.courseCode}}</a>
          </div>
        </div>
      {{/each}}

      <!-- ??? Kas siia lehele lisada veel alamenüü lehti?
    Nt otseviide kursuse ainekaardi lingile või kuvada loengute pealkirjad siin ära, et oleks mugav Kõigi Kursuste lehelt juba kindla kursuse materjalini jõuda.  -->
      <div class='tabs'>
        <!--
            {{#each loengud}}
            <div class="tab">
              <input type="checkbox" id="chck{{@index}}">
              <label class="tab-label" for="chck{{@index}}">
                <div class="flex gap-2">
                  <span class="material-symbols-outlined">check_circle</span>
                  <a class="hover:!underline !no-underline" href="/{{../path.courseSlug}}/{{this.slug}}">{{this.name}}</a>
                </div>
              </label>
              {{#each this.concepts}}
                {{#each ../../concepts}}
                  {{#if_equal this.slug ../this }}
              <div class="tab-content flex gap-2" >
                <span class="material-symbols-outlined">radio_button_unchecked</span>
                <a class="hover:!underline !no-underline" href="/{{../../../../path.courseSlug}}/{{../this.slug}}">{{../this.name}}</a>
              </div>
                  {{/if_equal}}
                {{/each}}
              {{/each}}
            </div>
            {{/each}}
            -->
      </div>
    </div>
  </div>
</nav>