<nav class="sidebar flex flex-col items-start absolute lg:relative left-[-500vw] lg:left-0 mt-[-2.5rem] lg:mt-auto w-full lg:w-auto  transition-all" id="sidebar">

  <button onclick='closeSideMenu()' class="flex items-center ml-4 lg:hidden pt-4">
    <i class="material-symbols-outlined lg:mt-auto cursor-pointer lg:hidden text-4xl" aria-hidden="true">arrow_circle_left</i>
    <span class="font absolute left-[-1000]">Sulge</span>
  </button>


  <div class="px-4">

<!-- DROPDOWN MENÜÜ VARIANT -->

  <section >
    <div class="col">
      <!-- Kuvab aine nime ja ainekoodi -->

      <h3 class="text-xl mb-1">
        {{#each courses}}
          {{#if_equal this.courseSlug ../path.courseSlug}}
          <a class="!no-underline hover:underline" href="/{{../this.courseSlug}}">{{../this.courseName}} ({{../this.courseCode}})</a>
          {{/if_equal}}
        {{/each}}</h3>

      <div class="tabs">

        <!-- Ainekursusest ja Hindamine lingid -->
        {{#each docs}}
        <div class="tab 
          {{#if_equal this.slug ../path.contentSlug }} 
            active-tab 
          {{/if_equal }}
        ">
          <label class="tab-label">
            <a class=" hover:!underline !no-underline" href="/{{../path.courseSlug}}/{{this.slug}}">{{this.name}}
<!-- Kuva aktiivse lehe path ning menüüelemendi path. Kui need kattuvad, siis lisa "active-tab" class (vt <div class="tab... rida) ning kontrolliks kuva "active-tab" menüüelemendi nime järel:
                {{../path.contentSlug}}
                {{this.slug}} -->
                {{#if_equal this.slug ../path.contentSlug }} 
                  active-tab
                {{/if_equal }}
            </a></label>
        </div>
        {{/each}}

        <!-- Aine lisamaterjali link -->
        {{#each additionalMaterials}}
        <div class="tab
          {{#if_equal this.slug ../path.fullPath }} 
            active-tab
          {{/if_equal }}
        ">
          <label class="tab-label">
            <a class=" hover:!underline !no-underline" href="/{{../path.courseSlug}}/{{this.slug}}">{{this.name}}
<!-- Kuva aktiivse lehe path ning menüüelemendi path. Kui need kattuvad, siis lisa "active-tab" class (vt <div class="tab... rida) ning kontrolliks kuva "active-tab" menüüelemendi nime järel:
                {{../path.fullPath}}
                {{this.slug}} -->
                {{#if_equal this.slug ../path.fullPath }} 
                  active-tab
                {{/if_equal }}
            </a></label>
        </div>
        {{/each}}

        <!-- Loengute pealkirjad ja lingid -->
        {{#each lessons}}
        <div class="tab
          {{#if_equal this.slug ../path.contentSlug }} 
            active-tab
          {{/if_equal }}
        ">
          <input type="checkbox" id="chck{{@index}}"> <!-- @index loeb iga elemendi indeksit "loengud" arrays. Tulemus: unikaalsed ID-d chck0, chck1, chck2 jne -->
          <label class="tab-label" for="chck{{@index}}">
            <div class="flex gap-2">
              <span class="material-symbols-outlined">check_circle</span>
              <a class="hover:!underline !no-underline" href="/{{../path.courseSlug}}/{{this.slug}}">{{this.name}}
<!-- Kuva aktiivse lehe path ning menüüelemendi path. Kui need kattuvad, siis lisa "active-tab" class (vt <div class="tab... rida) ning kontrolliks kuva "active-tab" menüüelemendi nime järel:
                  {{../path.contentSlug}}
                  {{this.slug}} -->
                  {{#if_equal this.slug ../path.contentSlug }} 
                    active-tab
                  {{/if_equal }}
              </a>
            </div>
          </label>
          
          <!-- Teemade lingid -->
          {{#each this.concepts}}
            <div class="tab-content flex gap-2
              {{#if_equal (concatActivePath ../this.slug this) ../../path.fullPath }}
                active-tab-content
              {{/if_equal }}
            " >
              <div class="flex gap-2" >
                <span class="material-symbols-outlined">radio_button_unchecked</span>
                <a class="hover:!underline !no-underline" 
                href="/{{../../path.courseSlug}}/{{../this.slug}}/{{this}}">
                {{#each ../../concepts}}
                  {{#if_equal this.slug ../this}}
                    {{../this.name}}
                  {{/if_equal}}
                {{/each }}
                </a>
             </div>
<!-- Kuva aktiivse lehe path ning menüüelemendi path. Kui need kattuvad, siis lisa "active-tab-content" class (vt <div class="tab... rida) ning kontrolliks kuva "active-tab-content" menüüelemendi nime järel:
                  {{../../path.fullPath}}
                  {{concatActivePath ../this.slug this}} -->
                  {{#if_equal (concatActivePath ../this.slug this) ../../path.fullPath }} 
                    active-tab-content
                  {{/if_equal }}
            </div>
          {{/each}}

          <!-- Loengu lisamaterjali link -->
          {{#each this.additionalMaterials}}
            <div class="tab-content flex gap-2
              {{#if_equal (concatActivePath ../this.slug this.slug) ../../path.fullPath }} 
                active-tab-content
              {{/if_equal }}
            ">
              <a class="hover:!underline !no-underline" 
              href="/{{../../path.courseSlug}}/{{../this.slug}}/{{this.slug}}">{{this.name}}</a>
<!-- Kuva aktiivse lehe path ning menüüelemendi path. Kui need kattuvad, siis lisa "active-tab-content" class (vt <div class="tab... rida) ning kontrolliks kuva "active-tab-content" menüüelemendi nime järel:
                  {{../../path.fullPath}}
                  {{concatActivePath ../this.slug this.slug}} -->
                  {{#if_equal (concatActivePath ../this.slug this.slug) ../../path.fullPath }} 
                    active-tab-content
                  {{/if_equal }}
            </div>
          {{/each}}

        </div>
        {{/each}}

      </div>
    </div>
  </section>

  <h3>Teised kursused</h3>
  <ul>
    <li>
      {{#each courses}}
      {{#if_not_equal this.courseSlug ../path.courseSlug}}
      <a class="hover:!underline !no-underline" href="/{{../this.courseSlug}}">{{../this.courseName}}</a>
      {{/if_not_equal}}
      {{/each}}
    </li>
  </ul>


<!-- VANA MENÜÜ VARIANT -->

<!-- this can be better :( -->
  <h3 class="text-xl mb-1">{{#each courses}}
      {{#if_equal this.courseSlug ../path.courseSlug}}
      <a class="!no-underline hover:underline" href="/{{../this.courseSlug}}">{{../this.courseName}}</a>
      {{/if_equal}}
      {{/each}}</h3>

  <ul>
    <!-- Järgnevalt loetakse "docs", "loengud" ja "concepts" arraysid app.js failist, mis antakse iga res.render() funktsiooniga kaasa.  -->
    
    <!-- Ainekursusest ja Hindamine lingid -->
    {{#each docs}}
    <li class="flex gap-2">
      <a class=" hover:!underline !no-underline" href="/{{../path.courseSlug}}/{{this.slug}}">{{this.name}}</a>
    </li>
    {{/each}}

    <!-- Loengute lingid -->
    {{#each lessons}}
    <li class="flex gap-2">
      <span class="material-symbols-outlined">check_circle</span>
      <a class="hover:!underline !no-underline" href="/{{../path.courseSlug}}/{{this.slug}}">{{this.name}}</a>
    </li>

    <!-- Teemade lingid -->
    {{#each this.concepts}}
    <!-- https://stackoverflow.com/questions/14059157/handlebars-js-each-loop-inside-another-each-loop-3 -->
    {{#each ../../concepts}}
    {{#if_equal this.slug ../this }}
    <li class="flex gap-2">
      <span class="material-symbols-outlined">radio_button_unchecked</span>
        <a class="hover:!underline !no-underline" href="/{{../../../../path.courseSlug}}/{{../this.slug}}">{{../this.name}}</a>
    </li>

    {{/if_equal}}
    {{/each}}
    {{/each}}

    {{/each}} 
  </ul>


  </div>

    
  

</nav>

