<nav class="sidebar flex flex-col items-start absolute lg:relative left-[-100vw] lg:left-0 mt-[-2.5rem] lg:mt-auto w-full lg:w-auto  transition-all" id="sidebar">

  <button onclick='closeSideMenu()' class="flex items-center ml-4 lg:hidden pt-4">
    <i class="material-symbols-outlined lg:mt-auto cursor-pointer lg:hidden text-4xl" aria-hidden="true">arrow_circle_left</i>
    <span class="font absolute left-[-1000]">Sulge</span>
  </button>

  <div class="px-4">
    <h3>Kõik kursused</h3>
    <ul>
      {{#each courses}}
        <li>
          <a
            class='hover:!underline !no-underline'
            href='/{{this.courseSlug}}'
          >{{this.courseName}} ({{this.courseCode}})</a>
        </li>
      {{/each}}
    </ul>

    <!-- ??? Kas siia lehele lisada veel alamenüü lehti?
    Nt otseviide kursuse ainekaardi lingile või kuvada loengute pealkirjad siin ära, et oleks mugav Kõigi Kursuste lehelt juba kindla kursuse materjalini jõuda.  -->
          <!--
          {{#each loengud}}
          <div class="tab">
            <input type="checkbox" id="chck{{@index}}">
            <label class="tab-label" for="chck{{@index}}">
              <div class="flex gap-2">
                <span class="material-symbols-outlined">check_circle</span>
                <a class="hover:!underline !no-underline" href="/{{../path.courseSlug}}/{{this.slug}}">{{this.name}}</a>
              </div>
            </label>
            
            {{#each this.concepts}}
              {{#each ../../concepts}}
                {{#if_equal this.slug ../this }}
                <div class="tab-content flex gap-2" >
                  <span class="material-symbols-outlined">radio_button_unchecked</span>
                  <a class="hover:!underline !no-underline" href="/{{../../../../path.courseSlug}}/{{../this.slug}}">{{../this.name}}</a>
                </div>
                {{/if_equal}}
              {{/each}}
            {{/each}}
          </div>
          {{/each}}
          -->

        </div>
      </div>
    </section>

  </div>

  

</nav>