<nav class="font-serif italic font-normal text-lg" id="sidebar">
  <h3>Kursus</h3>
  
  <ul>
    <!-- Järgnevalt loetakse "docs", "loengud" ja "concepts" arraysid app.js failist, mis antakse iga res.render() funktsiooniga kaasa.  -->
    <!-- Ainekursusest ja Hindamine lingid -->
    {{#each docs}}
    <li class="hover:underline">
      <a href="/{{this.slug}}">{{this.name}}</a>
      </li>
    {{/each}} <br>
    <!-- Loengute ja teemade lingid -->
    {{#each loengud}}
    <li class="hover:underline">
      <a href="/{{this.slug}}">{{this.name}}</a>
    </li>
    {{#each this.concepts}}
    <!-- https://stackoverflow.com/questions/14059157/handlebars-js-each-loop-inside-another-each-loop-3 -->
    {{#each ../../concepts}}
    {{#if_equal this.slug ../this }}
    <li class="hover:underline">
      <a href="/{{../this.slug}}">{{../this.name}}</a>
    </li>
    {{/if_equal}}
    {{/each}}
    {{/each}}

    {{#each this.files}}
    <li class="hover:underline">
      <a href="#">{{this.description}}</a>
    </li>
    {{/each}}
        <br>
    {{/each}}
  </ul>
</nav>
