<!-- sidebar-left.course.handlebars -->
<nav class="sidebar h-fit relative md:sticky top-36 md:top-52 lg:top-36" id="sidebar">
    <!-- sidebar sticky behavior beginning from lg size -->
    <div class="p-2 w-full">

        <!-- DROPDOWN MENU -->

        <div class="sidebarheight card !p-6">

            <div class="!no-underline mb-4 pr-4">
                <!-- Topic name and code -->
                {{#with course}}
                    <a href="/course/{{../path.courseId}}/{{../docs.[0].slug}}?ref={{../path.refBranch}}"
                    class="!no-underline">
                    <div class="mb-2 w-[22rem] max-w-full">
                        <div class="card-header mb-2 flex justify-between hover:ml-[-10px] hover:pl-[8px] hover:border-l-2 hover:border-link-action">
                            {{this.name}}
                            <span class="material-symbols-outlined pt-[0.1rem]">refresh</span>
                        </div>
                    </div>
                    </a>
                <div class="flex flex-row justify-between flex-wrap flex-end">
                    <div class="flex flex-col gap-y-0">
                        <a href="{{../config.courseUrl}}" target="_blank"
                           class="hover:ml-[-10px] hover:pl-[8px] hover:border-l-2 hover:border-link-action">
                            <p class="flex flex-end whitespace-nowrap items-center gap-2 m-0 p-0"><span
                                    class="material-symbols-outlined !text-base">open_in_new</span>{{this.code}}
                            </p>
                        </a>
                        <div class="flex flex-nowrap justify-start gap-x-4 items-center py-1 text-sm">
                            <p class="flex whitespace-nowrap items-start gap-2 m-0 p-0">
                                <span class="material-symbols-outlined !text-base">confirmation_number</span>
                                <span>{{this.credits}} EAP</span>
                            </p>
                            <p class="flex flex-nowrap items-start gap-2 m-0 p-0">
                                <span class="material-symbols-outlined !text-base">grading</span>
                                {{capitalize this.form}}
                            </p>
                        </div>
                        <div class="flex flex-nowrap justify-start gap-x-4 items-center py-1 text-sm">
                            <p class="flex flex-nowrap items-start gap-2 m-0 p-0">
                                <span class="material-symbols-outlined !text-base">calendar_month</span>
                                {{this.semester}}
                            </p>
                            <p class="flex flex-nowrap items-start gap-2 m-0 p-0">
                                <span class="material-symbols-outlined !text-base">person</span>
                                {{../config.teacherUsername}}
                            </p>
                        </div>
                    </div>
                {{/with}}
            </div>
            </div>

            <div class="tabs">
                <!-- Lessons links -->
                {{#each this.config.config.lessons}}
                    <div class="tab {{#if_equal this.slug ../path.contentSlug }}active-tab{{/if_equal }}">
                        <input type="checkbox" id="chck{{@index}}">
                        <!-- @index reads every element index in "loengud" arrays. result: unique ID-s chck0, chck1, chck2 jne -->
                        <label class="tab-label" for="chck{{@index}}">
                            <div class="flex gap-2 w-full">
                                <a class="grow py-3 !no-underline"
                                   href="/course/{{../path.courseId}}/{{this.slug}}?ref={{../path.refBranch}}
                                ">{{this.name}}
                                </a>
                            </div>
                        </label>

                        <!-- Themes links -->
                        {{#each this.components}}
                            <div class="tab-content flex gap-2 {{#if_equal (concatActivePath ../this.slug this)
                                                                           ../../path.fullPath }}active-tab-content menu-card{{/if_equal }}">
                                <a class="flex flex-row justify-between grow py-3 !no-underline"
                                   href="/course/{{../../path.courseId}}/{{../this.slug}}/{{this}}?ref={{../../path.refBranch}}
                                ">
                                <div class="flex gap-2">
                                    <span class="material-symbols-outlined">
                                        {{{showComponentType this ../../course.config.concepts
                                                             ../../course.config.practices }}}
                                    </span>
                                    {{{showComponentName this ../../course.config.concepts
                                                         ../../course.config.practices}}}
                                </div>
                                {{#if_not_equal ../../user.team.slug 'teachers' }}
                                    {{#ifInMarkedComponents
                                            (showComponentUUID ../this ../../../concepts ../../../practices)
                                            ../../../markedAsDoneComponentsArr }}
                                        <span class="material-symbols-outlined">task_alt</span>
                                    {{else }}
                                        <span class="material-symbols-outlined">radio_button_unchecked</span>
                                    {{/ifInMarkedComponents }}
                                {{/if_not_equal }}
                                </a>
                            </div>
                        {{/each}}

                        <!-- Lesson extra material -->
                        {{#each this.config.config.additionalMaterials}}
                            <div class="tab-content flex gap-2 {{#if_equal (concatActivePath ../this.slug this.slug)
                                                                           ../../path.fullPath }}active-tab-content{{/if_equal }}">
                                <a class="py-3 w-full !no-underline"
                                   href="/course/{{../../path.courseId}}/{{../this.slug}}/{{this.slug}}?ref={{../../path.refBranch}}
                                ">{{this.name}}</a>
                            </div>
                        {{/each}}

                    </div>
                {{/each}}

                <!-- Topic extra material link -->
                {{#each this.config.config.additionalMaterials}}
                    <div class="tab {{#if_equal this.slug ../path.fullPath }}active-tab{{/if_equal }}">
                        <label class="no-tab-label">
                            <a class="py-3 w-full !no-underline"
                               href="/course/{{../path.courseId}}/{{this.slug}}?ref={{../path.refBranch}}
                            ">{{this.name}}</a></label>
                    </div>
                {{/each}}

                {{#if_equal selectedVersion 'master'}}
                    {{#if (isTeacher ../user)}}
                        <hr class="my-4">
                        <a href="/course-edit/{{../../path.courseId}}/{{../../docs.[0].slug}}about?ref=draft"
                           class="btn btn-primary w-full mt-2">Muuda kursust</a>
                    {{/if}}
                {{/if_equal}}
            </div>
        </div>
    </div>
</nav>


