<!-- notifications.handlebars -->
<div class="flex flex-row grow 2xl:justify-between overflow-x-hidden lg:overflow-x-clip">
  <main id="main-content" class="px-4 py-8 dashboard_content">
    <div class="flex flex-col flex-nowrap grow justify-between">
      {{#unless user }}  
        <h2 class='font-sans text-xl font-bold mt-4 ml-4'>Logi sisse, et näha teateid</h2>
      {{/unless }}

      {{#if user }}
        <h1>Teated</h1>
        {{#if_equal user.team.slug 'teachers'}}
        <p class="m-0">Siin lehel näed kõiki teateid, mis on seotud sulle nähtavate ainekursustega.</p>
        <p class="m-0">NB! Teateid kuvatakse ainult vaikimisi harudest!</p>
        {{else}}
        <p class="m-2">Siin lehel näed teateid, mis on seotud sulle nähtavate ainekursustega.</p>
        {{/if_equal}}
        <div class="">
          <div>
            {{#unless courseUpdates30Days }}
              <h2 class="font-sans text-xl font-bold">Viimase 30 päeva jooksul teated puuduvad.</h2 class="font-sans text-xl font-bold">
            {{/unless }}

            {{#if courseUpdates30Days }}
              <h2 class="font-sans text-xl font-bold">Viimase 30 päeva teated:</h2 class="font-sans text-xl font-bold">
              <div class="divide-y divide-stroke">
                {{#each courseUpdates30Days }} 
                  <div class="flex flex-wrap w-full py-2">
          <div class="basis-4/6 shrink-0 grow-0 pr-4">
            <div class="text-sm flex" ><span class="!text-base material-symbols-outlined text-system-red-tlu">notifications</span>
            
            
            {{#if_equal ../this.user.team.slug 'teachers' }}
              <a href="/course/{{this.course.courseSlug}}/about?ref={{this.course.refBranch}}">{{../this.course.courseName}} {{../this.course.refBranch}}:</a>
            {{else }}
              <a href="/course/{{this.course.courseSlug}}/about?ref={{this.course.refBranch}}">{{../this.course.courseName}}:</a>
            {{/if_equal }}
            
            
            
            
            
            </div>
          </div>
          <div class="text-sm basis-2/6 shrink-0 grow-0 text-right">{{timeSince this.created_at }}</div>
           
          <a class="basis-4/6 shrink-0 grow-0 pr-4" href="/course/{{this.course.courseSlug}}/about?ref={{this.course.refBranch}}">{{this.body}}</a>

          <div class="text-sm basis-2/6 shrink-0 grow-0 text-right">{{#with (findTeacher this.user.login ../teachers)}}{{this.displayName}}{{/with }}</div>
        </div>

                  </div>
                  {{#unless @last}}
                  {{/unless}}
                {{/each }}
              </div>
            {{/if }}

            
          </div>
        </div>
      {{/if }}
    </div>

  </main>

</div>