<div class="flex flex-row grow 2xl:justify-between overflow-x-hidden lg:overflow-x-clip">
  <main id="main-content" class="w-full px-4 py-16 dashboard_content">
    <div class="flex flex-col flex-nowrap grow justify-between">
      {{#unless user }}  
        <h3 class='mt-4 ml-4'>Logi sisse, et näha teateid</h3>
      {{/unless }}

      {{#if user }}
        <h2>Kõik teated</h2>
        {{#if_equal user.team.slug 'teachers'}}
        <p class="mt-2 m-0">Siin lehel näed kõiki teateid, mis on seotud sulle nähtavate ainekursustega.</p>
        <p>NB! Teateid kuvatakse ainult vaikimisi harudest!</p>
        {{else}}
        <p>Siin lehel näed enda ainekursustega seotud teateid.</p>
        {{/if_equal}}
        <div class="">
          <div class="pb-4">
            {{#unless courseUpdates30Days }}
              <h3>Viimase 30 päeva jooksul teated puuduvad.</h3>
            {{/unless }}

            {{#if courseUpdates30Days }}
              <h3>Teated viimase 30 päeva jooksul:</h3>
              <div class="pb-8">
                {{#each courseUpdates30Days }} 
                  <div>
                    <div class="flex items-start gap-2 pb-2"><p class="p-0 m-0 text-sm text-gray-400">{{timeSince this.created_at }}</p></div>
                    {{#if_equal ../this.user.team.slug 'teachers' }}
                      <div class="flex items-start gap-2 pb-2"><p class="p-0 m-0">{{#with (findTeacher ../this.user.login ../../teachers)}}{{this.displayName}}{{/with }} uuendas <a href="/course/{{this.course.courseSlug}}/about?ref={{this.course.refBranch}}"><b>{{../this.course.courseName}}</b></a> {{../this.course.refBranch}} haru: <br></p></div>
                    {{else }}
                      <div class="flex items-start gap-2 pb-2"><p class="p-0 m-0">{{#with (findTeacher ../this.user.login ../../teachers)}}{{this.displayName}}{{/with }} uuendas <a href="/course/{{this.course.courseSlug}}/about?ref={{this.course.refBranch}}"><b>{{../this.course.courseName}}</b></a> {{!-- {{this.course.refBranch}} haru --}}:<br></p></div>
                    {{/if_equal }}
                    <div class="flex items-start gap-2 pt-4 pb-4 pl-3 pr-2 bg-neutral-100"><span class="material-symbols-outlined">notifications</span> <p class="pt-0 m-0">{{this.body}}</p></div>
                  </div>
                  {{#unless @last}}
                    <hr class="mt-4 mb-4">
                  {{/unless}}
                {{/each }}
              </div>
            {{/if }}
            
          </div>
        </div>
      {{/if }}
    </div>

  </main>

</div>
