<!-- overview-teams.handlebars -->
<div class="flex flex-row grow 2xl:justify-between overflow-x-hidden lg:overflow-x-clip">
  <main id="main-content" class="px-4 py-8 dashboard_content">
    
      <div class="flex flex-col flex-nowrap grow justify-between">
      {{#unless user }}  
        <h3 class='mt-4 ml-4'>Logi sisse, et näha ülevaadet</h3>
      {{/unless }}

      {{#if user }}
        <div class="flex flex-row justify-start gap-x-4 py-4">
          <form method="POST" action="/progress-overview" name="displayByTeams" id="displayByTeams">
            <!-- Hidden form inputs to send req.body values -->
            <input type="hidden" name="displayBy" id="displayBy" value="teams" >
            <button name="displayByTeamsButton" class="btn btn-primary">Tiimide järgi</button>
          </form>
          <form method="POST" action="/progress-overview" name="displayByCourses" id="displayByCourses">
            <!-- Hidden form inputs to send req.body values -->
            <input type="hidden" name="displayBy" id="displayBy" value="courses" >
            <button name="displayByCoursesButton" class="btn btn-secondary">Ainekursuste järgi</button>
          </form>
        </div>

        <div class="">

          <h1>Tiimide ülevaade</h1>
          <p>Siin lehel näed sa kõiki tiime, igale tiimile nähtavaid ainekursuseid ja vaikimisi haru, mida tiim näeb.</p>
          <p>Kui sa vajutad mõne tiimi all ainekursuse nimele, siis avaneb ülevaade selle tiimi kasutajate progressist antud ainekursusel.</p>

          <div class="pt-1">
          {{#each teams}}
            <h2>{{uppercase this.slug}} tiim</h2>
    
            {{#unless (findTeamCourses this.slug ../teamsCourses) }}
              <div class='mb-4 bg-neutral-50 p-4 ml-4'>
                <p class="m-0">Aktiivsed ainekursused puuduvad</p>
              </div>
            {{/unless }}
            {{#with (findTeamCourses this.slug ../teamsCourses)}}
            <div class="flex items-start gap-2 m-0 pb-2">Tiimile nähtavad ainekursused ja nende vaikimisi harud:</div>
              
              {{#each this}}
               <!-- Hidden form to send req.body values -->
               {{!-- ../../this: {{../../this}}
               ../../this.slug: {{../../this.slug}}
               ../this: {{../this}}
               this: {{this}}
               this.courseSlug: {{this.courseSlug}}
               this.slug: {{this.slug}}
               index: {{@index}}
               overview-{{../../this.slug}}-{{this.courseSlug}} --}}
                <div class='card cardlink !pt-[0.1px] mb-4' onclick="handleCourseClick('{{../../this.slug}}', '{{this.courseSlug}}')" >
                  <div><h3 class='text-lg'>{{this.courseName}}</h3>
                  </div>
                    <div class="flex justify-start gap-2 items-center px-4 mt-4 flex-wrap">
                      <p class="m-0 p-0">{{this.courseCode}}</p>
                      <p class="flex items-start gap-2 m-0 p-0"><span class="material-symbols-outlined">account_tree</span>{{this.refBranch}} haru</p>
                      <p class="flex items-start gap-2 m-0 p-0"><span class="material-symbols-outlined">confirmation_number</span>{{this.courseEAP}} EAP</p>
                      <p class="flex items-start gap-2 m-0 p-0"><span class="material-symbols-outlined">grading</span>{{capitalize this.courseGrading}}</p>
                      <p class="flex items-start gap-2 m-0 p-0"><span class="material-symbols-outlined">calendar_month</span>{{this.courseSemester}}</p>
                      <p class="flex items-start gap-2 m-0 p-0"><span class="material-symbols-outlined">person</span>{{#with (findTeacher this.teacherUsername ../../../teachers)}}{{this.displayName}}{{/with }}</p>
                    </div>
                </div>
                <form id="overview-{{../../this.slug}}-{{this.courseSlug}}" name="overview-{{../../this.slug}}-{{this.courseSlug}}" style="display:none;" method="POST" action="/progress-overview" >
                  <!-- Hidden form inputs to send req.body values -->
                  <input type="hidden" name="selectedTeam" id="selectedTeam-{{../../this.slug}}" value="{{../../this.slug}}" >
                  <input type="hidden" name="selectedCourse" id="selectedCourse-{{this.courseSlug}}" value="{{this.courseSlug}}" >
                  <input type="hidden" name="selectedCourseData" id="selectedCourseData-{{this.courseSlug}}" value="{{jsonStringify this}}" >
                </form>
              {{/each}}

            {{/with }}

          {{/each }}
          </div>

        </div>

      {{/if }}
    </div>

  </main>

</div>
