<!-- overview-stats.handlebars -->
<div class="flex flex-row grow 2xl:justify-between ">
    <main id="main-content" class="px-4 py-8 dashboard_content">

        <div class="flex flex-col flex-nowrap grow justify-between">
            {{#unless user }}
                <h3 class='mt-4 ml-4'>Logi sisse, et näha ülevaadet</h3>
            {{/unless }}

            {{#if user }}

                <h1>Õpilaste progressi ülevaade:</h1>
                <div class="flex flex-nowrap content-center">
                    <h4 class="m-0 pl-4">Ainekursus: <span class="uppercase">{{courseData.name}}</span></h4>
                </div>
                <div class="flex flex-nowrap justify-start gap-x-4 items-center mt-4 mb-4 pb-4 pl-4">
                    <p class="m-0 p-0">{{courseData.code}}</p>
                    <!--p class="flex items-start gap-2 m-0 p-0"><span
                        class="material-symbols-outlined">account_tree</span>{{courseData.refBranch}} haru</p!-->
                    <p class="flex items-start gap-2 m-0 p-0"><span
                            class="material-symbols-outlined">grade</span>{{courseData.credits}} EAP</p>
                    <p class="flex items-start gap-2 m-0 p-0"><span
                            class="material-symbols-outlined">grading</span>{{capitalize courseData.form}}</p>
                    <p class="flex items-start gap-2 m-0 p-0"><span
                            class="material-symbols-outlined">calendar_month</span>{{courseData.semester}}</p>
                    <p class="flex items-start gap-2 m-0 p-0"><span
                            class="material-symbols-outlined">person</span>{{courseData.students.length}}</p>
                </div>

                <div class="block">
                    <div class="headers">
                        <div class="scroller syncscroll">
                            <div class="flex bg-table-header-cell mx-auto"
                                 style="width:calc(12rem + 12rem * {{courseData.courseBranchComponentsUUIDs.length }})">
                                <div class="sticky left-0 basis-48 grow-0 shrink-0 bg-table-header-cell border-r border-r-neutral-200"></div>
                                <div class="flex w-full">
                                    {{#each courseData.config.lessons }}
                                        <div class="cell bg-table-header-cell p-3 font-bold text-center flex-shrink-0 flex-grow-0"
                                             style="flex-basis:calc(12rem * {{this.components.length}})"><a
                                                href="/course/{{../courseData.id}}/{{this.slug}}?ref=master">{{this.name}}</a>
                                        </div>
                                    {{/each }}
                                </div>
                            </div>
                            <div class="flex bg-table-header-cell mx-auto"
                                 style="width:calc(12rem + 12rem * {{courseData.courseBranchComponentsUUIDs.length }})">
                                <div class="sticky left-0 basis-48 grow-0 shrink-0 bg-table-header-cell border-r border-r-neutral-200"></div>

                                <div class="flex w-full">

                                    {{#each courseData.config.lessons }}
                                        {{#each this.components}}
                                            <div class="cell bg-table-header-cell text-center basis-48 flex-shrink-0 flex-grow-0">
                                                {{#with
                                                        (showComponentName this ../../courseData.config.concepts ../../courseData.config.practices)}}
                                                    <a href="/course/{{../../../courseData.id}}/{{../../this.slug}}/{{../this}}?ref=master">{{this}}</a>
                                                {{/with}}
                                            </div>
                                        {{/each }}
                                    {{/each }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tracks syncscroll"> <!-- body part -->
                        {{#each courseData.students}}
                            <div class="hoverrow mx-auto flex hover:bg-table-hover-cell"
                                 style="width:calc(12rem + 12rem * {{../courseData.courseBranchComponentsUUIDs.length }})">
                                <div class="hoverrowchild bg-table-header-cell hover:bg-table-hover-cell cell p-1 basis-48 sticky left-0">{{this.displayName}}{{!-- comp: {{this.markedAsDoneComponents}} --}}</div>

                                <div class="flex text-center">
                                    {{#each ../courseData.config.lessons }}
                                        {{#each this.components}}
                                            {{#ifInMarkedComponents
                                                    (showComponentUUID this ../../../courseData.config.concepts ../../../courseData.config.practices)
                                                    ../../this.uuids}}
                                                <div class="cell p-1 basis-48 flex-shrink-0 flex-grow-0"><span
                                                        class="material-symbols-outlined">task_alt</span></div>
                                            {{else}}
                                                <div class="cell p-1 basis-48 flex-shrink-0 flex-grow-0">-</div>
                                            {{/ifInMarkedComponents}}
                                        {{/each }}
                                    {{/each }}
                                </div>
                            </div>
                        {{/each }}
                    </div>
                </div>

            {{/if }}
        </div>

    </main>

</div>

