<!-- overview-courses.handlebars -->
<div class="flex flex-row grow 2xl:justify-between overflow-x-hidden lg:overflow-x-clip">
    <main id="main-content" class="px-4 py-8 dashboard_content">

        <div class="flex flex-col flex-nowrap grow justify-between">
            {{#unless user }}
                <h3 class='mt-4 ml-4'>Logi sisse, et näha ülevaadet</h3>
            {{/unless }}

            {{#if user }}
                <div>

                    <h1>Ainekursuste ülevaade</h1>
                    <p>Siin lehel näed kõiki aktiivseid ainekursuseid.</p>

                    <!--p>Kui sa vajutad mõne ainekursuse all tiimi nimele, siis avaneb ülevaade selle tiimi kasutajate
                        progressist antud ainekursusel.</p!-->
                    {{#each coursesWithTeams}}
                        <a class='card cardlink block p-4 !pt-[0.1px] relative'
                           href='/progress-overview/{{this.id}}'
                        >
                            <h3 class='text-lg'>{{this.name}}</h3>

                            <div class="flex justify-between mb-1">
                                <span class="text-base font-medium ">Läbitud teemad:</span>
                                <span class="text-base font-medium">{{this.ttlMarkedAsDoneCount}}
                                    / {{this.UUIDLength}}</span>
                            </div>
                            <div class="w-full progress rounded-full">
                                <div class="progress-inner rounded-full"
                                     style="width: {{this.donePercentage}}%"></div>
                            </div>
                            <div class="flex flex-nowrap justify-start gap-x-4 items-center mt-4">
                                <p class="m-0 p-0">{{this.code}}</p>
                                <p class="flex items-start gap-2 m-0 p-0"><span
                                        class="material-symbols-outlined">grade</span>{{this.credits}}
                                    EAP</p>
                                <p class="flex items-start gap-2 m-0 p-0"><span class="material-symbols-outlined">grading</span>{{this.form}}
                                </p>
                            </div>
                            <div class="flex flex-nowrap justify-start gap-x-4 items-center mt-4">
                                <p class="flex items-start gap-2 m-0 p-0"><span
                                        class="material-symbols-outlined">calendar_month</span>{{this.semester}}</p>
                                <p class="flex items-start gap-2 m-0 p-0"><span
                                        class="material-symbols-outlined">person</span>
                                    {{this.studentCount}}
                                </p>
                            </div>
                        </a>
                    {{/each}}

                </div>

            {{/if }}
        </div>

    </main>

</div>
